:root{
    --primaryColor: #49456e;
    --secondaryColor: #fe4d5e;
    --instaColor: #e52ba8;
    --fbColor: #3563c2;
    --netColor: #ec672c;
    --twitterColor: #000;
    --bgColor: #faf9fe;
    --whiteColor: #fff;
    --grayColor:#777c84;
}